.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  /* color: #ffffff; */
}

/* //////////////////////// */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather__list-day {
  align-self: flex-start;
  margin-bottom: 0.25rem;
  font-weight: 500;
}

hr {
  width: 100%;
  border-top: none;
  border-bottom: 1px solid #ffffff26;
}

.temp {
  padding: 0.6rem 2rem;
  border-radius: 4px;
  font-size: 1.15rem;
  font-weight: 600;
  background-color: #aacde166;
  box-shadow: 0 2px 5px #2b1d1d33;
}

.icon-expand {
  margin-top: 0.2rem;
  font-size: 0.9rem;
  color: #b6c0c6;
}

/* //////////////////////// */

.card-slide {
  display: grid;
  grid-template-columns: 1fr 50px;
  /* grid-template-columns: 20% 80%; */
  justify-content: center;
  align-items: center;
  row-gap: 0.3rem;
  font-size: 0.8rem;
}

.card-slide > span {
  color: #00000088;
  font-size: 0.7rem;
}

.details-col {
  text-align: center;
}

.separator-slide,
.min-max-temp,
.expand-btn {
  grid-column: 1 / 3;
}

.separator-slide {
  margin-bottom: 0.3rem;
  border-top: none;
  border-bottom: 1px solid #00000015;
}

.min-max-temp {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0.2rem;
  padding: 0.3rem;
  border-radius: 40px;
  z-index: 1;
  border: 1px solid #00000033;
  background: #fff;
}

.min-temp {
  color: #00000060;
}

.expand-btn {
  text-align: center;
  margin-top: -0.6rem;
  font-size: 0.9rem;
}

.icon-expand-slide {
  font-size: 0.9rem;
  color: #29345788;
}
