.sidebar {
  height: 100vh;
  width: 45vw;
  padding: 2.5% 3.5% 0;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(51, 51, 51, 0.3);
  backdrop-filter: blur(7px);
  /* backdrop-filter: blur(45px); */
}

.error-message,
.error-message-input {
  color: #fa4b4b;
}

.error-message {
  margin-top: 0.5rem;
  width: fit-content;
  width: -moz-fit-content;
}
