@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@500&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: 0.5px;
  background: url('./assets/bg-2.jpg');
  min-height: 100vh;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  color: #ffffff;
}

/* HEADERS */
h1 {
  /* font-size: 7.5rem; */
  line-height: 5.7rem;
  font-size: 1.3rem;
  margin-left: 5rem;
  letter-spacing: -1.5px;
  font-family: 'Athiti', sans-serif;
}

h2 {
  font-weight: 400;
  font-size: 8rem;
  line-height: 6rem;
  letter-spacing: -1.5px;
}

h3 {
  font-weight: 400;
  font-size: 3.45rem;
  letter-spacing: -0.5px;
}

h4 {
  font-weight: 400;
  font-size: 2.125rem;
  letter-spacing: 0.25px;
}

h5 {
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0;
}

h6 {
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: 0.15px;
}

button {
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 1.25px;
  font-family: inherit;
}

ul {
  list-style: none;
}
